@font-face {
    font-family: canteenMedium;
    src: url(../fonts/CanteenBN-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: canteenLight;
    src: url(../fonts/CanteenBN-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: canteenBold;
    src: url(../fonts/CanteenBN-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: interRegular;
    src: url(../fonts/Inter-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: interBold;
    src: url(../fonts/Inter-Bold.ttf);
    font-display: swap;
}