.footer{
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    margin-top: 1rem;

    &-img{
        display: block;
        width: 8%;
        padding: 1rem 0;
    }

    &-copy{
        display: flex;
        gap: 1rem;
        justify-content: start;
        align-items: center;

        &-p{
            text-align: center;
            color: $white;
            font-family: $secondary-font;
        }

        &-img{
            display: block;
            width: 15%;

        }
    }
}

.footer.dark{
    background-color: $main-color-dark;
}