*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 133.828px;
    -webkit-font-smoothing: antialiased;
  }

body{
    background-color: $body;
    color: $black;
    font-family: $main-font;
    font-display: swap;
    overflow-y: visible;
    overflow-x: hidden;
}

body.active{
    overflow-y: hidden;
}

body.dark{
    background-color: $darkest-gray;
    color: $white;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: normal;
}

ul{
    margin: 0;
    padding: 0;
}

p {
   margin: 0; 
}