$main-color: #d61a28;
$main-color-dark: #b20f1a;
$secondary-color: #e8cc41;
$secondary-color-light:#ffe045;
$light-gray: #e9f1f1;
$gray: #99b2b5;
$dark-gray: #69797a;
$darker-gray: #495556;
$darkest-gray: #242929;
$card-bg: #bdc5c6;
$white: #fff;
$black: #191919;
$main-font:'canteenMedium' , sans-serif;
$main-font-bold: 'canteenBold', sans-serif;
$main-font-light: 'canteenLight', sans-serif;
$secondary-font: 'interRegular', sans-serif;
$secondary-font-bold: 'interBold', sans-serif;